### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [11]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(file_to_load)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [12]:
players= len(purchase_df["SN"].value_counts())
player_count=pd.DataFrame([player], columns = ["Total Players"])

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
Unique_items = purchase_df["Item ID"].nunique()
Unique_items
Average_price = purchase_df["Price"].mean()
Average_price
Num_of_purchases = purchase_df["Item ID"].count()
Num_of_purchases
Total_revenue = purchase_df["Price"].sum()
Total_revenue

purchase_summary=pd.DataFrame({"Number of Unique Items ":[Unique_items],
                            "Average Price " : [Average_price],
                            "Num of Purchases ": [Num_of_purchases],
                            "Total Revenue " : [Total_revenue]})
purchase_summary

   Number of Unique Items   Average Price   Num of Purchases   Total Revenue
0                      183        3.050987                780         2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [16]:
Gender = purchase_df[["SN", "Gender"]]

Gender = gender.drop_duplicates()

Count = gender["Gender"].value_counts()

# List of values
Total_counts = [counts[0],counts[1],counts[2]]
percents = [round((counts[0]/player)*100,2),round((counts[1]/player)*100,2),round((counts[2]/player)*100,2)]

# Creating DataFrame & setting index
gender_PSummary = pd.DataFrame({"Percentage of Players": percents,"Total Count": total_counts})
gender_PSummary.index = (["Male", "Female", "Other / Non-Disclosed"])
gender_demo

                       Percentage of Players  Total Count
Male                                   84.03          484
Female                                 14.06           81
Other / Non-Disclosed                   1.91           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [29]:
Gender = purchase_df.groupby(["Gender"])

#Basic Calculations
Purchase_Count = Gender["SN"].count()

Purchase_Price = Gender["Price"].mean()

Purchase_Value = Gender["Price"].sum()


duplicates = purchase_df.drop_duplicates(subset='SN', keep="first")
grouped_dup = duplicates.groupby(["Gender"])

# Find normalized data
Norm_Purchase = (gender["Price"].sum() / grouped_dup["SN"].count())

# Creating new DataFrame
gender_purchase = pd.DataFrame({ "Purchase Count": Purchase_Count,
                              "Avg Purchase Price": Purchase_Price,
                              "Total Purchase Value": Purchase_Value,
                              "Normalized Totals": Norm_Purchase})
# DF formatting
gender_purchase["Avg Purchase Price"] = gender_purchase["Avg Purchase Price"].map("${:.2f}".format)
gender_purchase["Total Purchase Value"] = gender_purchase["Total Purchase Value"].map("${:.2f}".format)
gender_purchase["Normalized Totals"] = gender_purchase["Normalized Totals"].map("${:.2f}".format)
gender_purchase = gender_purchase[["Purchase Count", "Avg Purchase Price", "Total Purchase Value", "Normalized Totals"]]
gender_purchase

,Purchase Count,Avg Purchase Price,Total Purchase Value,Normalized Totals
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [48]:
# Set age bins
Age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]

Age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#DF for age bin
purchase_df["Age Demographics"]= pd.cut(purchase_data["Age"], age_bins, labels= Age_groups)

demographic_group = purchase_df.groupby("Age Demographics")

demographic_group.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographics,Age Groups,demographic_group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24,20-24,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+,40+,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24,20-24,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24,20-24,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24,20-24,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24,20-24,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39,35-39,35-39
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,20-24,20-24,20-24
8,8,Undjask33,22,Male,21,Souleater,1.10,20-24,20-24,20-24
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39,35-39,35-39
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74,20-24,20-24,20-24
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67,20-24,20-24,20-24
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18,20-24,20-24,20-24
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,35-39,35-39,35-39
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30-34,30-34,30-34
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35-39,35-39,35-39
23,23,Eyrian71,40,Male,151,Severance,3.40,40+,40+,40+
24,24,Siala43,30,Male,141,Persuasion,3.19,30-34,30-34,30-34
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29,25-29,25-29
26,26,Lirtossa84,11,Male,71,Demise,1.61,10-14,10-14,10-14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<10,<10,<10
30,30,Idai61,19,Male,140,Striker,2.94,15-19,15-19,15-19
31,31,Farusrian86,37,Male,179,"Wolf, Promise of the Moonwalker",4.48,35-39,35-39,35-39
32,32,Aeralria27,10,Male,133,Faith's Scimitar,4.09,10-14,10-14,10-14
33,33,Haillyrgue51,7,Male,44,Bonecarvin Battle Axe,2.38,<10,<10,<10
34,34,Sondim73,19,Male,160,Azurewrath,4.40,15-19,15-19,15-19
36,36,Idaisuir85,30,Male,76,Haunted Bronzed Bludgeon,3.15,30-34,30-34,30-34
37,37,Seuthep89,8,Male,73,Ritual Mace,2.05,<10,<10,<10
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18,10-14,10-14,10-14
42,42,Aidaillodeu39,18,Male,72,Winter's Bite,3.77,15-19,15-19,15-19
...,...,...,...,...,...,...,...,...,...,...
81,81,Heudai45,8,Female,174,Primitive Blade,3.47,<10,<10,<10
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40,15-19,15-19,15-19
83,83,Aina42,25,Male,12,Dawne,1.02,25-29,25-29,25-29
85,85,Umolrian85,32,Female,33,Curved Axe,1.16,30-34,30-34,30-34
94,94,Aina43,19,Male,96,Blood-Forged Skeletal Spine,3.09,15-19,15-19,15-19
95,95,Ilassast39,18,Male,164,Exiled Doomblade,1.63,15-19,15-19,15-19
96,96,Lisassala98,16,Male,56,Foul Titanium Battle Axe,2.92,15-19,15-19,15-19
105,105,Eulanurin88,27,Male,10,Sleepwalker,1.79,25-29,25-29,25-29
107,107,Tyaerith73,36,Male,99,"Expiration, Warscythe Of Lost Worlds",1.71,35-39,35-39,35-39
127,127,Lisossanya98,37,Male,102,Avenger,3.44,35-39,35-39,35-39
139,139,Lisasi93,13,Male,158,"Darkheart, Butcher of the Champion",2.45,10-14,10-14,10-14
141,141,Zhisrisu83,10,Male,60,Wolf,3.54,10-14,10-14,10-14
142,142,Adastirin33,35,Female,175,Woeful Adamantite Claymore,4.48,35-39,35-39,35-39
147,147,Hailaphos89,35,Male,24,Warped Fetish,3.81,35-39,35-39,35-39
155,155,Aillyrin83,10,Female,98,"Deadline, Voice Of Subtlety",2.89,10-14,10-14,10-14
156,156,Eyrian71,40,Male,117,"Heartstriker, Legacy of the Light",1.79,40+,40+,40+
163,163,Sidap51,11,Male,65,Conqueror Adamantite Mace,4.24,10-14,10-14,10-14
182,182,Lamil79,38,Male,154,Feral Katana,4.40,35-39,35-39,35-39
187,187,Tyeurith29,8,Male,11,Brimstone,3.65,<10,<10,<10
220,220,Jiskjask85,40,Male,46,Hopeless Ebon Dualblade,1.33,40+,40+,40+
248,248,Isursuir31,44,Male,137,"Aetherius, Boon of the Blessed",3.39,40+,40+,40+
272,272,Anallorgue57,8,Male,133,Faith's Scimitar,4.09,<10,<10,<10
311,311,Anallorgue57,8,Male,71,Demise,1.61,<10,<10,<10
339,339,Ilmol66,8,Female,124,Venom Claymore,1.29,<10,<10,<10
341,341,Hiasurria41,41,Male,71,Demise,1.61,40+,40+,40+
446,446,Chanossast57,7,Female,119,"Stormbringer, Dark Blade of Ending Misery",4.32,<10,<10,<10
477,477,Mindossa76,41,Male,173,Stormfury Longsword,4.93,40+,40+,40+
480,480,Salilis27,40,Male,59,"Lightning, Etcher of the King",4.23,40+,40+,40+
557,557,Frichaya88,42,Male,8,"Purgatory, Gem of Regret",3.93,40+,40+,40+
667,667,Inasuir29,40,Female,66,Victor Iron Spikes,4.40,40+,40+,40+

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [50]:
age_purchasing_df = purchase_df
age_purchasing_df['demographic_group'] = pd.cut(purchase_df['Age'], age_bins, labels = Age_groups)

Purchasing_analysis_age_df = age_purchasing_df[['Price', 'Age Groups']].groupby(['Age Groups']).count()

Purchasing_analysis_age_df['Average Purchase Price'] = age_purchasing_df[['Price', 'Age Groups']].groupby(['Age Groups']).mean()

Purchasing_analysis_age_df['Total Purchase Price'] = age_purchasing_df[['Price', 'Age Groups']].groupby(['Age Groups']).sum()

Purchasing_analysis_age_df['Normalized Totals'] = (age_purchasing_analysis_df['Total Purchase Price'] / purchase_data["Age Demographics"])

Purchasing_analysis_age_df['Average Purchase Price'] = age_purchasing_analysis_df['Average Purchase Price'].map('${:,.2f}'.format)

Purchasing_analysis_age_df['Total Purchase Price'] = age_purchasing_analysis_df['Total Purchase Price'].map('${:,.2f}'.format)

Purchasing_analysis_age_df['Normalized Totals'] = age_purchasing_analysis_df['Normalized Totals'].map('${:,.2f}'.format)

Purchasing_analysis_age_df.

KeyError: 'Age Demographics'

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [54]:
age_purchasing_df = purchase_data
age_purchasing_df['Age Groups'] = pd.cut(purchase_data['Age'], age_bins, labels = group_names)

age_purchasing_analysis_df = age_purchasing_df[['Price', 'Age Groups']].groupby(['Age Groups']).count()
age_purchasing_analysis_df['Average Purchase Price'] = age_purchasing_df[['Price', 'Age Groups']].groupby(['Age Groups']).mean()
age_purchasing_analysis_df['Total Purchase Price'] = age_purchasing_df[['Price', 'Age Groups']].groupby(['Age Groups']).sum()
age_purchasing_analysis_df['Normalized Totals'] = (age_purchasing_analysis_df['Total Purchase Price'] / purchase_data["Age Demographics"])

age_purchasing_analysis_df['Average Purchase Price'] = age_purchasing_analysis_df['Average Purchase Price'].map('${:,.2f}'.format)
age_purchasing_analysis_df['Total Purchase Price'] = age_purchasing_analysis_df['Total Purchase Price'].map('${:,.2f}'.format)
age_purchasing_analysis_df['Normalized Totals'] = age_purchasing_analysis_df['Normalized Totals'].map('${:,.2f}'.format)

age_purchasing_analysis_df

NameError: name 'group_names' is not defined

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [67]:
#define most items 
Most_popu_items = purchase_data.groupby(['Item ID', 'Item Name','Price'])['Price'].agg(['count','sum'])

Most_popu_items.columns = ['Purchase Count', 'Total Purchase Value']
 
Most_popu_items.reset_index(inplace=True)

Most_popu_items.set_index(['Item ID','Item Name'] ,inplace=True)

Popu_items = Popu_items[['Purchase Count', 'Price', 'Total Purchase Value']]

most_popular_items = most_items.sort_values(by='Purchase Count', ascending=False)


most_popular_items['Price'] = most_popular_items['Price'].map('${:,.2f}'.format)
most_popular_items['Total Purchase Value'] = most_popular_items['Total Purchase Value'].map('${:,.2f}'.format)

most_popular_items.head()

,,Purchase Count,Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [68]:
#in descending order 
most_profitable_items = most_items.sort_values(by='Total Purchase Value', ascending=False)

most_profitable_items['Price'] = most_profitable_items['Price'].map('${:,.2f}'.format)
most_profitable_items['Total Purchase Value'] = most_profitable_items['Total Purchase Value'].map('${:,.2f}'.format)
most_profitable_items.head()

,,Purchase Count,Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80